@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900"); */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 115, 234, 190;
  --gradient-shadow: linear-gradient(
		45deg,
		#fb0094,
		#0000ff,
		#00ff00,
		#ffff00,
		#ff0000,
		#fb0094,
		#0000ff,
		#00ff00,
		#ffff00,
		#ff0000
	);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  animation: mymove 2s  infinite;
  /* background-image: url("../public/bg-image/20230509_022116.jpg"); */
  animation-direction: alternate;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
    /* Add the blur effect */
    /* filter: blur(24px);
    -webkit-filter: blur(24px); */
}

@keyframes mymove {
  0% {background-image: url("../public/bg-image/20230509_022116.jpg");}
  10% {background-image: url("../public/bg-image/20230509_022116.jpg");}
  20% {background-image: url("../public/bg-image/20230509_022151.jpg");}
  35% {background-image: url("../public/bg-image/5297078.jpg");}
  75% {background-image: url("../public/bg-image/20230509_022244.jpg");}
  100% {background-image: url("../public/bg-image/20230509_022405.jpg");}
}

/* Animated menue items --------------------------- */
.myshadow {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	color: #fff;
	text-align: center;
	/* width: 400px;
	height: 250px; */
	background: linear-gradient(0deg, #000, #262626);
}
.myshadow:before,
.myshadow:after {
	content: "";
	position: absolute;
	bottom: -3px;
	left: -3px;
	background: var(--gradient-shadow);
	background-size: 800%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: animate 20s linear infinite;
  border-radius: 0.5rem;
}

/* .myshadow:after {
	filter: blur(px);
} */
.myshadow:hover {
	text-shadow: 0px 0px 10px #000000;
}

@keyframes animate {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

/* Animated menue items end --------------------------- */

/* SOURAV MONDAL TEXT start --------------------------- */

.nameText {
	position: relative;
	filter: brightness(1.5);
}

.nameText h2 {
	color: #fff;
	font-size: 6em;
	font-weight: 600;

}

.nameText h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #00D4FF;
}

.nameText h2:nth-child(2) {
	position: absolute;
	top: 0;
	color: #00D4FF;
	animation: textAnimate 2s ease-in-out infinite;
}

@keyframes textAnimate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}


@media screen and (max-width: 450px) {
	.nameText {
		/* font-size: 4em; */
		/* text-align: center; */
		
	}
	.nameText h2 {
		font-size: 4em;
	}
  }


